@charset "UTF-8";

.all-contents {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.clearfix ::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.fa-bolt {
  font-size: 2.5em;
  color: #c0c0c0;
}

.header-button {
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.header-button:hover {
  color: #333;
}

.title {
  background-color: #f2f2f2;
  width: 100%;
}

.bolt-title {
  font-size: 90px;
  font-weight: 700;
  padding-top: 320px;
  text-align: center;
  color: #74cfae;
  font-family: 'Raleway', sans-serif;
}

.sub-title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
  padding-bottom: 250px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.WWCD {
  background-color: #74cfae;
  padding-top: 50px;
  width: 100%;
}

.WWCD-main {
  display: flex;
  justify-content: space-around;
}

.WWCD-box {
  padding-top: 20px;
}

.WWCD-title {
  font-size: 24px;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.WWCD-box {
  display: inline-block;
  vertical-align: middle;
}

.WWCD-sub {
  font-size: 20px;
  color: white;
  margin-top: 35px;
  text-align: center;
  line-height: 28px;
}

.OLW-title {
  font-size: 24px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
}

.OLW {
  width: 100%;
  background-color: #f2f2f2;
}

.OLW-content {
  display: inline-block;
}

.OLW-content:nth-child(n+4) {
  margin-top: 80px;
  margin-bottom: 90px;
}

.OLW-content:not(:nth-child(1),:nth-child(4)) {
  margin-left: 100px;
}

.OLW-content img {
  opacity: 0.7;
  transition: 0.3s;
}

.OLW-content img:hover{
  opacity: 1;
}

.OLW-sub {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.OLW-text {
  margin-bottom: 70px;
  line-height: 26px;
}

.OLW-button {
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 20px;
  color: white;
  margin-left: 90px;
  text-decoration: none;
  transition: 0.3s;
}

.OLW-button:hover {
  color: #333;
}

.OSS {
  background-color: #4e4e4e;
  width: 100%;
}

.OSS-title {
  font-size: 24px;
  padding-top: 70px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.OSS-images {
  display: flex;
  justify-content: space-between;
}

.image {
  display: inline-block;
  text-align: center;
  margin-left: 180px;
  margin-bottom: 100px;
}

.java {
  margin-left: 0;
}

.image-text {
  margin-top: 20px;
  color: white;
}

.SNS-box {
  width: 100%;
  background-color: #f2f2f2;
}

.SNS-main {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.SNS-content {
  width: 185px;
  padding: 25px 0;
  color: #74cfae;
  text-align: center;
  transition: 0.3s;
}

.SNS-content:hover {
  background-color: white;
}

.size {
  font-size: 2.5em;
}

.footer {
  background-color: #74cfae;
}

.bottom {
  padding-top: 20px;
  padding-bottom: 25px;
  color: white;
  text-align: end;
}

